body {
  color: #303030;
  text-align: center;
}
body .homeTitle {
  font-size: 40px;
  display: inline-block;
  padding-bottom: 8px;
  border-bottom: 2px solid #303030;
}
body .homeDesc {
  text-align: center;
  margin: 15px 0 20px;
}
body footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
